*~
*.o
*.dwo
*.log
*.trs
*.aux
*.toc
null.d

# vs code
src/.vscode/*
.vscode/*

# executables and objects
src/nidhugg
src/nidhuggc
src/unittest
*.ll
**/__pycache__

# libs ans Makefiles
src/libnidhugg.a
Makefile
Makefile.in
src/Makefile.in

# temporary
aclocal.m4
ar-lib
autom4te.cache
src/.deps

# temporary (installation)
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing

# temporary (testing)
stamp-*
test-driver
tests/smoke/test.results.txt
tests/litmus/test.results.txt
filelist.txt
out
*.csv